<form name="form"
      class="ui form"
      ng-class="{loading: loading}"
      ng-submit="unlockAndSave(item, unlockPassword)"
      novalidate>

    <div class="ui success message" ng-show="saved">
        <div class="header">Item saved</div>
    </div>


    <div class="field" ng-class="{error: form.url.$invalid}">
        <label for="url">Url</label>
        <input class="ui input" type="url" autofocus
               placeholder="Url..."
               name="url" id="url"
               ng-model="item.meta.url"/>

        <div class="ui red pointing above ui label"
             ng-show="form.url.$error.url">
            Enter a valid url
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label for="name">Name</label>
            <input class="ui input" type="text"
                   name="name" id="name"
                   placeholder="Name..."
                   ng-model="item.meta.name"
                   string/>
        </div>
        <div class="field">
            <label for="tags">Tags</label>
            <input class="ui input" type="text"
                   id="tags" name="tags"
                   placeholder="Tags..."
                   ng-model="item.meta.tags"
                   string/>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="login">Login</label>
            <input class="ui input" type="text"
                   id="login" name="login"
                   placeholder="Login..."
                   ng-model="item.data.login"
                   string/>


        </div>
        <div class="field">
            <label for="password">Password</label>
            <input class="ui input" type="text"
                   id="password" name="password"
                   placeholder="Passwords..."
                   ng-model="item.data.password"
                   string/>
        </div>
    </div>
    <div class="field">
        <label>Notes</label>
        <textarea placeholder="notes..."
                  id="notes" name="notes"
                  ng-model="item.data.notes">

        </textarea>
    </div>


    <div class="ui buttons">
        <button class="ui positive button"
                type="submit"
                ng-disabled="form.$pristine"
                ng-class="{disabled: form.$pristine}">
            Save
        </button>
        <div class="or"></div>
        <a ng-href="#{{ spCancelUrl }}" class="ui basic button">
            Cancel
        </a>
    </div>


    <div class="ui dimmer" ng-class="{attached: locked, active: locked}">
        <div class="content">
            <div class="center">
                <h2 class="header"> Relock while your where typing </h2>

                <!-- FIXME: BAD GRAMMAR -->
                <p> Please type in your safe's password </p>

                <div class="ui action input" style="width: 400px; margin-left:-200px; left:50%;">
                    <input type="password" placeholder="Password" ng-model="unlockPassword">
                    <button type="submit" class="ui positive button">Save</button>
                </div>
            </div>
        </div>
    </div>

</form>