<div class="ui attached negative message">
    <div class="header">
        Unlock
    </div>
    <p>Type in your password</p>
</div>
<form class="ui form attached fluid segment"
      ng-submit="unlock(unlockPassword)">
    <div class="field" ng-class="{error: passwordError}">
        <input type="password" id="unlockPassword" class="ui input"
               autofocus
               placeholder="Password..."
               ng-model="unlockPassword"/>
    </div>

    <div class="ui buttons">
        <button type="submit" class="ui positive button"
                ng-disabled="!unlockPassword"
                ng-class="{disabled: !unlockPassword}"
                ng-click="unlock(unlockPassword)">
            Unlock
        </button>
        <div class="or"></div>
        <a href="#/" class="ui basic button">
            Cancel
        </a>
    </div>
</form>
<div class="ui bottom attached info message">
    <i class="icon help"></i>Your locker will relock itself after 5 minutes
</div>