<header>
    <h1><a href="/"><i class="glyphicon glyphicon-lock"></i> sunyPass </a></h1>
</header>

<div class="panel panel-default">
    <div class="panel-heading">Create a new locker</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="lockerSecret">Locker secret <button class="btn btn-link btn-default" ng-click="generate()" type="button">Generate a random secret !</button></label>
                <input type="text" id="lockerSecret" ng-change="change()" ng-model="secret" class="form-control" required />
                <span class="help-block">
                    Secret is use to identify your locker. You need to remember this secret if you want to access your
                    locker on another device. <br/>
                    <strong>Tips: </strong> you can add some text to a generated secret in order to remember what is in
                    the locker
                </span>
            </div>
            <div class="form-group">
                <label for="lockerPwd1">Locker master password</label>
                <input type="password" required ng-model="password1" class="form-control" id="lockerPwd1" placeholder="password">
            </div>
            <div class="form-group">
                <input type="password" required ng-model="password2" class="form-control" id="lockerPwd2" placeholder="password check">
                <span class="help-block">
                    You will need you master password in order to decrypt the content of your locker
                </span>
            </div>
            <button type="submit" ng-click="create()" class="btn btn-success btn-block">Create</button>
        </form>
    </div>
</div>