<div>
    <div class="ui info attached top message">
        <div class="header">Edit item</div>
    </div>

    <sp-locker-item-form class="fluid attached bottom segment"
                         sp-locker-item="item"
                         sp-locker="locker"
                         sp-cancel-state="root.locker.content({sharedSecret: locker.secret.shared })"
                         sp-success-state="root.locker.content({sharedSecret: locker.secret.shared })">

    </sp-locker-item-form>
</div>
