<div class="ui center aligned row">

    <div class="ui middle aligned column relaxed grid two">
        <div class="row">
            <div class="center aligned eight wide column">
                <center>
                    <img src="images/logo.svg" width="150"
                         height="150" class="ui image" alt="SunnyPass"/>

                </center>
                <h1 class="ui header">
                    SunnyPass
                </h1>
                <h4>Keep your password to yourself</h4>

                <p>
                    SunnyPass allow you to keep your password and private notes safe while accessing them easily on any
                    of your devices.
                </p>
                <p>
                    Store your password and private note in a <strong>"safe"</strong> identified by your unique <strong>safe's secret</strong> and
                    locked by a <strong>password</strong>. Your <strong>safe's secret</strong> can be used to create a secure peer to peer network in
                    order to access the content of your <strong>safe</strong> on multiple devices without it's content ever stored elsewhere
                    than your own devices.

                </p>
                <br/><br/>
                <button
                        class="ui positive button "
                        ng-click="action='create'">Create your first safe
                </button>

                <div class="ui horizontal divider">
                    Or
                </div>
                <button class="ui basic button" ng-click="action='sync'">Synchronize your existing safes</button>
            </div>

            <div class="eight wide column" ng-show="action === 'create'">
                <!--<h4 class="ui top attached info message">-->
                <!--Create your first safe-->
                <!--</h4>-->

                <form novalidate class="ui form green raised segment"
                      name="createForm"
                      ng-submit="create()">
                    <p>
                        To create your safe you need to generate a random <strong>safe's secret</strong> and a
                        pick a strong <strong>password</strong>. You will need both to access your safe content.
                    </p>
                    <ul>
                        <li><strong>save</strong> your <strong>safe's secret</strong> in a secure location</li>
                        <li><strong>remember</strong> your <strong>password</strong></li>
                    </ul>


                    <div class="field">
                        <label for="safeSecret">
                            <strong>Safe secret</strong>
                        </label>

                        <div class="ui fluid action input">
                            <input type="text"
                                   id="safeSecret" name="safeSecret"
                                   class="font-mono ellipsis"
                                   placeholder="Safe secret"
                                   ng-model="safeSecret"
                                   required
                                   ng-minlength="32"
                                   string>

                            <div class="ui tiny button" ng-click="randomSecret()">Regenerate</div>
                        </div>
                        <div class="ui pointing prompt label" ng-show="createForm.safeSecret.$error.required">
                            Required
                        </div>
                        <div class="ui pointing prompt label" ng-show="createForm.safeSecret.$error.minlength">
                            Must be at least 32 characters
                        </div>

                        <div class="ui pointing prompt label" ng-show="createForm.safeSecret.$error.string">
                            Must be a word (no space)
                        </div>

                    </div>

                    <div class="field">
                        <label for="safePassword">Safe password</label>

                        <div class="ui fluid action input">
                            <input type="{{ passwordShow ? 'text' : 'password' }}"
                                   id="safePassword" name="safePassword"
                                   ng-model="safePassword"
                                   placeholder="Safe password"
                                   required
                                   ng-minlength="6">

                            <div class="ui tiny icon button" ng-click="passwordShow = !passwordShow">
                                <i class="icon" ng-class="{ hide: passwordShow, unhide: !passwordShow }"></i>
                            </div>
                        </div>
                        <div class="ui pointing prompt label" ng-show="createForm.safePassword.$error.required">
                            Required
                        </div>
                        <div class="ui pointing prompt label" ng-show="createForm.safePassword.$error.minlength">
                            Must be at least 6 characters
                        </div>

                        <div class="ui pointing prompt label" ng-show="createForm.safePassword.$error.string">
                            Must be a word (no space)
                        </div>

                    </div>

                    <div class="ui grid">

                        <div class="left floated six wide column">
                            <div class="ui fluid button"
                                 ng-click="cancel()">
                                Cancel
                            </div>
                        </div>

                        <div class="right floated ten wide column">
                            <button type="submit"
                                    class="ui fluid positive button"
                                    ng-class="{disabled: createForm.$invalid}">
                                Create
                            </button>
                        </div>

                    </div>

                </form>
            </div>

            <div class="eight wide column" ng-show="action === 'sync'">
                <div class="ui blue raised segment">
                    <h3 class="ui header">
                        Safe synchronization comming soon !
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="ui row">-->
<!--<div class="ui two column aligned relaxed grid">-->
<!--<div class="ui row">-->
<!--<div class="column">-->

<!--</div>-->
<!--<div class="column">-->
<!--<h4 class="ui top attached info message">-->
<!--Synchronize your safes-->
<!--</h4>-->

<!--<form class="ui form bottom attached segment" action="">-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
